@media (max-width:1085px) {
    .sign-row h1{
    font-size: 45px;
    }
    .sign-row p{
        margin: 2rem 0;
        width: 330px;
        font-size: 20px;
    }
}
@media (max-width:852px){
    .sign{
        background: linear-gradient(rgba(20, 37, 56, 0.696), rgba(0, 0, 0, 0.488)), url(../img/sign-up/Image\ Placeholder.png) center no-repeat;
        width: 100%;
        height: 323px;
        background-size: cover;

    }
    .sign-form{
        max-width: 90%;
        margin-left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5rem;
    }
    .sign-row{
        margin-top: 350px;
        position: relative;
        top: 0%;
        left: 0%;
    }
    .sign-row h1{
        font-size: 45px;
    }
    .sign-row p{
        margin: 2rem 0;
        width: 300px;
        font-size: 20px;
    }
}