* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}
body {
  background-color: #2b2b2b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  max-width: 1080px;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.logo {
  font-size: 25px;
}
.logo a span {
  color: #d7bcfc;
  border-bottom: 3px solid #a259ff;
}
.nav a {
  margin-left: 35px;
  font-size: 16px;
}

.sign-up {
  padding: 20px 35px;
  background-color: #a259ff;
  border-radius: 20px;
}

.burger-menu {
  cursor: pointer;
  display: none;
}

.first-line {
  height: 1px;
  width: 20px;
  background-color: #ffffff;
}
.second-line {
  margin-top: 6px;
  height: 1px;
  width: 30px;
  background-color: #ffffff;
}
.therd-line {
  margin-left: 10px;
  height: 1px;
  margin-top: 6px;
  width: 20px;
  background-color: #ffffff;
}

/* -------------------   start hero section ( second section  ) -------------------------- */

.hero-section {
  max-width: 1080px;
  margin: auto;
}
.hero {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-hero h1 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}
.text-hero p {
  margin: 15px 0 40px 0;
  width: 85%;
  font-size: 22px;
  line-height: 30px;
}
.button {
  padding: 20px 55px;
  background-color: #a259ff;
  border-radius: 20px;
  font-size: 20px;
}

.statistic {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 500px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.statistic div h2 {
  font-size: 35px;
}
.statistic div h3 {
  font-size: 20px;
}
.hero-image {
  background-color: #3b3b3b;
  border-radius: 30px;
}
.hero-image h1 {
  padding: 20px;
}
.hero-pre-text {
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.hero-pre-text img {
  margin-right: 15px;
}

.button-mobile,
.statistic-mobile {
  display: none;
}

/* ----------------------------------  start trending section  --------------------------------- */

.trending {
  margin: 5rem 0;
}
.trend {
  max-width: 1080px;
  margin: auto;
}
.trend h1 {
  font-size: 35px;
}
.trend-p {
  margin-top: 15px;
  font-size: 20px;
}
.trend-items {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pre-trend {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 330px;
}

.number {
  width: 100px;
  height: 100px;
  background-color: #a259ff;
  border-radius: 20px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  font-size: 30px;
}

.pre-trend-name {
  margin: 10px 0 40px 0;
  display: flex;
  align-items: center;
}
.pre-trend-name img {
  margin-right: 10px;
}

/* ----------------------------------  start TOP section  --------------------------------- */

.top {
  max-width: 1080px;
  margin: auto;
  padding-bottom: 4rem;
  position: relative;
}
.top-head h1 {
  font-size: 35px;
}
.top-head p {
  margin-top: 15px;
  font-size: 20px;
}
.top-person {
  margin-top: 2rem;
  width: 240px;
  height: 238px;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.numeric {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #2b2b2b;
  position: absolute;
  margin: 10px;
  color: #757575;
}

.top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.own-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.own-person img {
  margin-top: 20px;
}
.avatar {
  text-align: center;
}
.own-person h2 {
  font-size: 20px;
  margin-top: 20px;
}
.own-person p {
  margin-top: 10px;
  font-size: 15px;
  color: #979797;
}

.button-top {
  margin-top: -65px;
  position: absolute;
  right: 0;
  font-size: 19px;
  width: 247px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a259ff;
  border-radius: 20px;
}
.button-top-hide-show {
  display: none;
}

/* ------------------------- start categories section ----------------------*/
.categories {
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
}
.categories h1 {
  font-size: 35px;
}
.categories-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categories-item {
  background-color: #3b3b3b;
  border-radius: 20px;
  margin-top: 2rem;
}
.categories-item h2 {
  font-size: 19px;
  padding: 25px;
}

/* -------------- start discover -------------------------- */

.doscover {
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
  position: relative;
}
.Discover-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Discover-item-row {
  margin-top: 4rem;
  border-radius: 20px;
  width: 330px;
  background-color: #3b3b3b;
}

.descover-item {
  padding: 20px 30px;
}
.pre-descover-name {
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.pre-descover-name img {
  margin-right: 10px;
}
.rice-bid-row {
  margin-top: 30px;
}
.price-bid {
  margin-top: 15px;
  max-width: 270px;
  display: flex;
  justify-content: space-between;
}
.price-bid p {
  color: #afafaf;
  font-size: 19px;
  font-family: "Courier New", Courier, monospace;
}

/* -------------- mashrooms discover -------------------------- */

.mashrooms {
  background: linear-gradient(rgba(20, 37, 56, 0.062), #a259ff),
    url(../img/Component.png) center no-repeat;
  width: 100%;
  height: 640px;
  background-size: cover;
  /* background-attachment: fixed; */
}

.mashrooms-box {
  max-width: 1080px;
  margin: auto;
  padding-top: 20rem;
}

.shroomie {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 20px;
  background-color: #3b3b3b;
  width: 100px;
  margin-bottom: 40px;
}
.shroomie img {
  margin-right: 5px;
}
.mashrooms-row h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.mashrooms-row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hours {
  width: 295px;
  height: 160px;
  background-color: #3b3b3b80;
  border-radius: 20px;
}
.hours-p {
  margin: 20px 0 0 27px;
}
.left-hours {
  max-width: 240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.left-hours-1 {
  font-size: 45px;
}
.button-margin-top {
  margin-top: -45px;
}
.button-mashrooms {
  padding: 20px 65px;
  color: #2b2b2b;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 20px;
}

/* -----------------  start works section  ------------------------ */

.works {
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
}

.works-head h1 {
  font-size: 35px;
}
.works-head p {
  margin-top: 15px;
  font-size: 20px;
}
.works-row {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.works-row div {
  width: 330px;
  height: 440px;
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.works-row div img{
  margin-top: 15px;
}

.works-row div p{
  margin-top: 20px;
  width: 300px;
  text-align: center;
  line-height: 25px;
}


/* -----------------  start subscribe section  ------------------------ */
.subscribe{
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
  background-color: #3b3b3b;
  border-radius: 20px;
}

.subscribe-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-left: 5%;
}

.subscribe-text{
  width: 425px;
}
.subscribe-text h2{
  font-size: 50px;
}
.subscribe-text p{
  margin: 15px 0;
  font-size: 20px;
}
.form{
  display: flex;
}
.form input, .form button{
  padding: 17px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #2b2b2b;
}
.form input{
  width: 60%;
}
.form button{
  margin-left: -40px;
  width: 45%;
  color: #ffffff;
  background-color: #a259ff;
}










footer{
  margin-top: 4rem;
  padding: 4rem 0 0 0;
  background-color: #3b3b3b;
}
.footer-row{
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-1-row p{
  margin-top: 25px;
  width: 250px;
  font-size: 18px;
}
.icons{
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.icons a{
  margin-right: 10px;
}

.footer-2-row{
  display: flex;
  flex-direction: column;
}
.footer-2-row a{
  margin-top: 20px;
}
.footer-3-row p{
  margin: 25px 0;
  width: 420px;
}

.last-line{
  padding: 20px 0;
  max-width: 1080px;
  margin: auto; 
}

.last-line p{
  margin: 20px 0;
}